footer{
    width: 100%;
}
.footer_div{
    display: flex;
    background-color: #242830;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    bottom: 0;
}
.footer_div_right{
    display: flex;
    flex-direction: column;
}
.footer_border{
    position: relative;
    border-top: solid 1px;
    left: 3%;
    width: 93%;
}