body{
    height:700px;
}
h1{
    font-weight: inherit;
}
.main_accueil{
    padding-left: 3%;
    padding-right: 3%;
    background-color: #141B21
}
@media only screen and (max-width: 600px) {
    .body_div_1{
        flex-direction: column-reverse;
    }
    .body_div_2{
        flex-direction: column;
    }
}

/* div 1 */

.div_1{
    padding-top:100px;
    padding-bottom:100px;
    border: solid 2px #242830;
    border-radius: 30px;
}
.body_div_1{
    display: flex;
    padding: 15px;
}
.div_1_left{
    flex:1;
}
.div_1_right{
    width:100%;
    border-radius: 30px;
    border: solid;
}
.div_1_right img{
    height: auto;
    width: 100%;
    border-radius: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.div_1_p{
    border: solid;
    border-radius: 30px;
    margin-right: 28%;
    margin-left:8%;
    padding: 25px;

}
.div_1_button{
    display:flex;
    justify-content: space-evenly;
    margin-right:20%;
}
.div_1_boutons{
    color: black;
    background-color: white;
    padding: 10px 14px;
    border: solid 2px white;
    border-radius: 30px;
    transition: 
        background-color var(--transition-duration),
        color var(--transition-duration);
}
.div_1_boutons:hover{
    background-color: #242830;
    color: white;
}



/* div 2 */

.div_2{
    padding-top:100px;
    padding-bottom:100px;
    border: solid 2px #242830;
    border-radius: 30px;
}
.body_div_2{
    display: flex;
    padding: 15px;
}

.div_2_right{
    flex:1;
}
.div_2_left{
    flex:1;
}
.div_2_left img{
    height: auto;
    width: 100%;
    border-radius: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.div_2_center{
    flex:1;
}
.p_selected{
    border: solid 2px #242830;
    border-radius: 30px;
}
.div_2_p p{
    padding: 15px;
}
.div_2_p{
    border: solid;
    border-radius: 30px;
    padding: 25px;
    width: 100%;

}
.div_2_button{
    display:flex;
    justify-content: space-evenly;
    margin-right:20%;
}
.div_2_boutons{
    color: black;
    background-color: white;
    padding: 10px 14px;
    border: solid 2px white;
    border-radius: 30px;
    transition: 
        background-color var(--transition-duration),
        color var(--transition-duration);
}
.div_2_boutons:hover{
    background-color: #242830;
    color: white;
}