.header_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.header_border{
    position: relative;
    border-bottom: solid 1px;
    left: 3%;
    width: 93%;
}

.dis{
    color: #03417b; /* Bleu */
}
.sua{
    color: white; /* Bleu */
}
.sio{
    color: #84050e; /* Bleu */
}
  
  