.main_carte{
    padding-left: 3%;
    padding-right: 3%;
}

.filtre_container, .filtres{
    display: flex;
}
.filtres{
    flex:19;
    justify-content: space-evenly;
    list-style: none;
}
.filtres > li{
}
